header nav{
    background-color: black
}
#titulo1{
    color:white;
    text-align: center;
    
}
#parrafo1{
    color:white;
    text-align: center;
    
}
#formulariotitulo{
    font-size: 10px;
}
#EnterWI{
    background-color: aqua;
    color: white;
}
#titulo4{
    color: aqua;
    text-align: center;
}
#parrafo4{
    font-size: 5px;
    text-align: center;
}
ul{
    text-align: center;
}
#EnterW{
    background-color: aqua;
    color: white;
}
#titulo5{
    background-color: lightseagreen;
    text-align: center;
}
#parrafo3{
    text-align: center;
}
#parrafo4{
    text-align: center;
}
footer{
    text-align: center;
}